.App {
  text-align: center;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.card {
  margin: 7.5px;
  width: 150px;
  height: 75px;
  border-radius: 7%;
  font-size: calc(5px + 2vmin);
}

.command-btn {
  margin: 7.5px;
  padding: 7.5px;
  background-color: green;
  color: white;
  font-size: calc(3px + 2vmin);
  float: right;
}

button {
  cursor: pointer
}

button:disabled, .card-zone__paired .card {
  pointer-events: none;
}
